*{margin:0px;padding:0px;}
body{ font-size:12px;}
img{ border:0px;}
.c{ clear:both;}
ul,li{list-style:none;}
a{ color:#000000; text-decoration:none;}
a:hover{ color:#666666; text-decoration:none;}


.noback {
	height: 328px;
	text-align:center;
	position: relative;}

.container {margin: auto;width: 944px;}
.logo {
	background: url(../images/logo-bg.jpg);
	background-position:top;
	height: 91px;
}
.logoer {width: 199px;height: 45px;margin-top: 30px;margin-left: 30px;float: left;}
.biaozhi {height: 45px;width: 45px;float: left;margin-top: 15px;margin-left: 45px;}
#Layer1 {
	position:absolute;
	left:228px;
	top:30px;
	width:487px;
	height:269px;
	z-index:1;
}
.shipin {
	height: 328px;
	background-image: url(../images/shipin.jpg);
	position: relative;
}
.nav {
	height: 38px;
	background: url(../images/nav.jpg);
	margin-top: 5px;
	font-size:14px;
	margin-bottom: 5px;
}
.nav  a{ color:#fff; text-decoration:none;}
.nav  a:hover{ color: #FFFF00; text-decoration:none;}
.nav li {
	text-align: center;
	float: left;
	width: 100px;
	line-height: 38px;
	color: #FFFFFF;
	margin-left: 10px;

}
 .tt{
	background: url(../images/tt.jpg)  no-repeat;
	background-position:right;}
.nav ul {
	width: 800px;
	margin-left: 80px;
}
.main {
}
.main .left {
	width: 180px;
	margin-left: 2px;
	float: left;
}
.fleft{float: left;}
.lanmu {
	height: 24px;
	background-image: url(../images/lanmu.jpg);
	margin-top: 6px;
}
.lanmu h3 {
	line-height: 24px;
	font-size: 14px;
	margin-left: 10px;
	color: #FFFFFF;
}
.lanmu-conn {
	border: 1px solid #cdcdcd;
	padding: 3px;
}
.lanmu-conn li {
	background-image: url(../images/mumu-tiao.jpg);
	background-repeat: no-repeat;
	background-position: left;
	height: 27px;
	line-height: 27px;
	padding-left: 20px;

}
.lanmu-conn a{ color:#333;text-decoration:none; }
.lanmu-conn a:hover{ color:#6C0000; text-decoration:none; }

.main .middle {
	float: left;
	width: 568px;
	margin-left: 6px;
	margin-top: 6px;
	border: 1px solid #cdcdcd;
	background-image: url(../images/connbg.jpg);
	background-position: top;
	background-repeat: repeat-x;
}
.middle .artcle {
	padding: 5px;
}
.artcle .artcle-title {
	line-height: 30px;
	height: 30px;
}
.artcle h3 {
	line-height: 28px;
	height: 28px;
	padding-left: 10px;
	color: #063593;
	font-size:14px;
}

.artcle h3  a{ color:#000; }
.artcle h3 a:hover{ color:#6C0000; text-decoration:none; }


.artcle .artcle-conn {
	line-height: 24px;
}
.artcle-conn  ul{ padding-left:20px;}
.artcle-conn  ul li{ width:680px; height:26px; line-height:25px; background:url(../images/listt.jpg) no-repeat 0 bottom; overflow:hidden; color:#666; position:relative;}
.artcle-conn  ul li a{ margin-left:5px; color:#666;}
.artcle-conn  ul li a:hover{ color:#6C0000; text-decoration:none;}
.artcle-conn  ul li span{ position:absolute; top:0; right:0;}
.more{
	text-align:right;
	height: 30px;
	font-size: 14px;
	padding-right:15px;
}
.more a{ color:#6C0000; }
.more a:hover{ color:#6C0000; text-decoration:none; }
.main .right {
	float: left;
	margin-left: 6px;
	width: 180px;
}
.lanmu-con {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 3px;
	padding-left: 3px;
	font-size: 14px;
	line-height: 28px;
	border: 1px solid #cdcdcd;
}
.footer {
	height: 34px;
	background-image: url(../images/bottom-bg.jpg);
	margin-bottom: 5px;
	margin-top: 12px;
}

.footer li {
	float: left;
	width: 80px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
}
.footer ul {
	width: 160px;
	margin-left: 400px;
}
.footer  a{ color:#fff; text-decoration:none;}
.footer  a:hover{ color: #FFFF00; text-decoration:none;}
.ggy {
	width: 529px;
	float: right;
	margin-top: 43px;
	height: 44px;
	margin-right: 15px;
}
.main .nr {
	float: left;
	width: 754px;
	margin-left: 6px;
	margin-top: 6px;
	border: 1px solid #cdcdcd;
	background-image: url(../images/connbg.jpg);
	background-position: top;
	background-repeat: repeat-x;
}
.nr .artcle{ padding:5px;}
.nr .artcle .artcle-conn {padding: 10px;}
.nr_bt{ margin-bottom:10px; margin-top:10px;}
.nr_bt h5{ font-size:18px; color:#333; text-align:center;}
.nr_bt h6{ text-align:center; font:normal 12px "ו"; color:#333; padding:5px 0; background-color:#F7F7F7; border:1px solid #E8E8E8; margin-top:20px;}
.nr_text{ font-size:14px; line-height:26px; color:#333;}
.pagelink{ float:right; height:26px; line-height:26px; background-color:#DCD9D4; margin:20px 0 0 0; padding:0 10px; margin-bottom:10px;}
.pagelink a, .pagelink span{ padding:0 3px;}
.pagelink a.on, .pagelink a:hover{ color:#F9003B;}
.posts {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 680px; LINE-HEIGHT: 22px; PADDING-TOP: 0px
}
.posts P {
	MARGIN-BOTTOM: 10px
}
.single {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; WIDTH: 670px; PADDING-TOP: 0px
}
.single H2 {
	FONT-SIZE: 18px; PADDING-BOTTOM: 10px; MARGIN: 20px 0px; COLOR: #222; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center
}
.postlist {
	MARGIN: 15px 0px 0px
}
.postlist LI {
	PADDING-LEFT: 12px; BACKGROUND: url(../images/arrow.gif) no-repeat 0px 14px; FLOAT: left; WIDTH: 680px; LINE-HEIGHT: 32px; BORDER-BOTTOM: #ddd 1px dashed; HEIGHT: 32px
}
.postlist LI H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; WIDTH: 500px
}
.postlist LI SPAN {
	FLOAT: right; WIDTH: 80px; COLOR: #666; TEXT-ALIGN: right
}
.productlist {
	MARGIN-TOP: 20px;
	padding-left:10px;
 
}
.productlist li{
	PADDING-RIGHT: 4px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 10px 6px; OVERFLOW: hidden; WIDTH: 205px; PADDING-TOP: 0px; HEIGHT: 190px;
}
.productlist li IMG {
	BORDER-RIGHT: #e4e4e4 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e4e4e4 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #e4e4e4 1px solid; WIDTH: 200px; PADDING-TOP: 2px; BORDER-BOTTOM: #e4e4e4 1px solid; HEIGHT: 160px
}
.productlist li .product_name {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 200px; LINE-HEIGHT: 15px; HEIGHT: 15px; TEXT-ALIGN: center
}
.proproperty{width:680px;}
.proproperty span{ background-color:#CCCCCC; line-height:26px;display:block; padding-left:15px;}
.copyright{margin:10px 0px; text-align:center;line-height:24px;}
.procontent{ padding:5px; }

.lyb_title{
background:url(../images/titlebg.jpg);
height:25px;
line-height:25px;
margin-top:10px;
}
.lyb_title span,
.lyb_title a{
color:#fff;
margin:0 10px;
}
.lyb_title a{
float:right;
}