<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>[about:title]_{aspcms:sitetitle}</title>
<meta name="Keywords" content="[about:keyword]" >
<meta name="Description" content="[about:desc]" >
<link href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/css.css" rel="stylesheet" type="text/css" />
<link href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/fuzhi.js"></script>

</head>

<body>
{aspcms:template src=head.html}
  <div class="main">
            {aspcms:template src=left1.html}
	
    <div class="news_right"> 
                <div class="M001LC1101">
                     
                     <ul>
                       <li>您所在的位置：</li>
                       <li class="home"><a href="{aspcms:sitepath}{aspcms:languagepath}">首页</a>{aspcms:position}></li>
                       <li class="cr">[position:link]{/aspcms:position}</li>
                     </ul>
                 </div>
            
  <div class="wrap">
                <div class="list_top"><span><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/ico6.gif" class="monlie"></span>[about:title]</div>
               <div class="M001NS3101">
        
        <div class="body">
             
          <div class="content1200">
[about:info]
</div>
          
          <div class="clear"></div>
          </div>
        </div>
            </div>
            
        <!--center--><!--right-->
           
        </div>
   <div class="c"></div>
  </div>
  
    {aspcms:template src=foot.html}
  <div class="c"></div>
  
</div>    


</body>
</html>
