<div class="container">
  <div class="logo">
    <div class="biaozhi">
     <img src="/images/logo.gif" width="70" height="70"/>
    </div>
    <div class="logoer"><a href="/" target="_blank"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/logo.jpg" width="199" height="45" border="0" /></a></div>
	  <div class="ggy"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/flash.jpg" width="529" height="44" /></div>
	  <div class="c"></div>
  </div>

    <div class="shipin"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/shipin2.jpg" height="328">
    </div>

   <div class="nav"><ul>   <li class="tt"><a href="/" >Ê×  Ò³</a></li>
   {aspcms:navlist}
              {if:[navlist:sortid]<6}
       <li class="tt"><a href="[navlist:link]"  title="[navlist:name]" >[navlist:name]</a></li>
              {end if} 
        {/aspcms:navlist}
  <li><a href="/html/newslist/list-6-1.html" title="´ó¿ÎÌÃ">´ó¿ÎÌÃ</a></li>
  </ul></div>