<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{aspcms:sorttitle}_{aspcms:sitetitle}</title>
<meta name="Keywords" content="{aspcms:sortkeyword}" >
<meta name="Description" content="{aspcms:sortdesc}" >
<link href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/css.css" rel="stylesheet" type="text/css" />
<link href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/fuzhi.js"></script>
</head>

<body>
{aspcms:template src=head.html}
  <div class="main">
    {aspcms:template src=left1.html}
	
    <div class="news_right"> 
                <div class="M001LC1101">
                     
                     <ul>
                       <li>您所在的位置：</li>
                       <li class="home"><a href="{aspcms:sitepath}{aspcms:languagepath}">首页</a>{aspcms:position} ></li>
                       <li class="cr">[position:link]{/aspcms:position}</li>
                     </ul>
                 </div>
            
  <div class="wrap news_bac">
                <div class="list_top"><span><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/ico6.gif" class="monlie"></span>{aspcms:sorttitle}</div>
                <div class="M001NS1101">
 <ul>
{aspcms:navlist type=6 }
        <li><span class="time">[navlist:date style=yy-m-d]</span> <a title="[navlist:name]" href="[navlist:link]">[navlist:name]</a>  </li><br/>
{/aspcms:navlist}

                        
            <div class="c"></div>
          </ul>
        </div>
                                <div class="border-bottom">
			</div> 
            </div>
           
        </div>
<div class="c"></div>
  </div>
  
        {aspcms:template src=foot.html}
  <div class="c"></div>
  
</div>    


</body>
</html>
